* {
    background-color:#FFFF ;
    box-sizing: border-box;
}

body {
    /* padding: 30px; */
     /* margin: calc(62.56px); */
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: #000;
}
